<!--The content below is only a placeholder and can be replaced.-->

<ul>
  <li>
    <a class="navbar-brand" routerLink="/material/card" routerLinkActive="active" href="#">Card</a>
  </li>
  <li>
    <a class="navbar-brand" routerLink="/material/table" routerLinkActive="active" href="#">Data Table</a>
  </li>
  <li>
    <a class="navbar-brand" routerLink="/material/grid" routerLinkActive="active" href="#">Grid</a>
  </li>
</ul>
<br/>
<router-outlet style="border:1px solid red"></router-outlet>

