<div class="docs-component-category-list" style="width:900px">
  <!----><a class="docs-component-category-list-item" href="/table">
  <md-card class="docs-component-category-list-card mat-card">
    <md-card-title class="mat-card-title">Form Controls</md-card-title>
  </md-card>
</a><a class="docs-component-category-list-item" href="/categories/nav">
  <md-card class="docs-component-category-list-card mat-card">
    <md-card-title class="mat-card-title">Navigation</md-card-title>
  </md-card>
</a><a class="docs-component-category-list-item" href="/categories/layout">
  <md-card class="docs-component-category-list-card mat-card">
    <md-card-title class="mat-card-title">Layout</md-card-title>
  </md-card>
</a><a class="docs-component-category-list-item" href="/categories/buttons">
  <md-card class="docs-component-category-list-card mat-card">
    <md-card-title class="mat-card-title">Buttons &amp; Indicators</md-card-title>
  </md-card>
</a><a class="docs-component-category-list-item" href="/categories/modals">
  <md-card class="docs-component-category-list-card mat-card">
    <md-card-title class="mat-card-title">Popups &amp; Modals</md-card-title>
  </md-card>
</a>

</div>











<div class="docs-component-category-list" style="width:800px;height:400px;border:2px solid red">
  <a class="docs-component-category-list-item" href="/categories/forms">
  <md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>Shiba Inu</md-card-title>
      <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <md-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
  </a>
  <a class="docs-component-category-list-item" href="/categories/forms">
  <md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>Shiba Inu</md-card-title>
      <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <md-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
  </a>
</div>
