<!--The content below is only a placeholder and can be replaced.-->

<ul class="toptoolbar">
  <li>
    <a class="navbar-brand" routerLink="/" routerLinkActive="active" href="#">Home</a>
  </li>
  <li>
    <a class="navbar-brand" routerLink="/heroes" routerLinkActive="active" href="#">Tour of Heroes</a>
  </li>
  <li>
    <a class="navbar-brand" routerLink="/material" routerLinkActive="active" href="#">Material</a>
  </li>
  <li>
   <a target="_blank" href="https://angular.io/tutorial">Tutorial</a>
  </li>
  <li>
    <a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
  </li>
  <li>
    <a target="_blank" href="https://blog.angular.io//">Angular blog</a>
  </li>
</ul>
<br/><br/><br/><br/>
<router-outlet style="border:1px solid red"></router-outlet>

