<style>
    .capitalize{
        font-size:20px;
color:red;
    }

</style>
<div id="page-wrapper">
    <div class="row">

        <div class="col-md-12">
            <div class="col-md-4">
                <h3>Input Source</h3>

                <div class="form-group">
                    <select name="inputSource" class="form-control">
                        <option value="File">File</option>
                        <option value="Table">Table</option>
                    </select>
                </div>
                <div>
                    <input type='file' id="sourceFile" name="sourceFile" accept='all/*'><br>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Target Source</h3>

                <div class="form-group">
                    <select name="targetSource" class="form-control">
                        <option value="File">File</option>
                        <option value="Table">Table</option>
                    </select>
                </div>
                <div>
                    <input type='file' id="targetFile" name="targetFile" accept='all/*'><br>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <button class="btn btn-success" ng-click="showSelectionPage()">Next</button><br><br>
            </div>
        </div>


    </div>

    <div class="row">

        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="srcSelect"> Select Source Key: </label><br>
                    <select name="srcSelect" id="srcSelect" ng-disabled="sourceKeyArray.length == 0" class="form-control">
                        <option ng-repeat="opt in sourceArray" value="{{opt}}">{{opt}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="srcTarget"> Select Target Key: </label><br>
                    <select name="srcTarget" id="srcTarget" ng-disabled="targetKeyArray.length == 0" class="form-control">
                        <option ng-repeat="opt in targetArray" value="{{opt}}">{{opt}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <button class="btn btn-success" ng-click="addKeys()">Add Fields</button><br><br>
            </div>
        </div>



    </div>
    <h3>Map Result:</h3>
    <div id="result" class="normal">{{map}}</div>
<!--
    <div class="row">

        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="srcSelect"> Select Source Key to compare: </label><br>
                    <select name="srcSelect" id="srcSelect1" ng-model="optSource" class="form-control">
                        <option ng-repeat="opt in sourceKeyArray" value="{{option}}">{{opt}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="srcTarget"> Select Target Key to compare: </label><br>
                    <select name="srcTarget" id="srcTarget1" ng-model="optTarget" class="form-control">
                        <option ng-repeat="opt in targetKeyArray" value="{{opt}}">{{opt}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <button class="btn btn-success" ng-click="showSelectionPage()">Next</button><br><br>
            </div>
        </div>
-->
    <div class="col-md-12">
        <div class="col-md-4">
            <button class="btn btn-success" ng-click="reconcile()">Reconcile</button><br><br>
        </div>
    </div>


    </div>
</div>
